
<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>管理</title>
<style type="text/css">

.mid{text-align: center;}
</style>
</head>

<!-- 最新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>

<!-- Bootstrap core CSS 
  注意：此文件跟随官网最新版本更新，随时会有改变。建议使用下面v3.0.3版本的CDN链接！
 -->
<link href="../dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Hi，如果你要在自己的网站上引入bootstrap样式文件的话，请使用当前最新版本v3.0.3的CDN链接，页面加载速度会更快！
<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
-->

<!-- Documentation extras -->
<link href="../docs-assets/css/docs.css" rel="stylesheet">
<link href="http://cdn.bootcss.com/highlight.js/7.3/styles/github.min.css" rel="stylesheet">

<body>
<div class="container">
<div class="row">
<h1 align="center">一起学Python</h1>
<hr />
</div>
<div class="row mid">
<a href="/home"  style="text-decoration:none"><button type="button" class="btn btn-primary">主页</button></a>
<a href="/classt"  style="text-decoration:none"><button type="button" class="btn btn-primary">班级</button></a>
<a href="/message"  style="text-decoration:none"><button type="button" class="btn btn-primary">消息</button></a>
<a href="/manage"  style="text-decoration:none"><button type="button" class="btn btn-primary">管理</button></a>
</div>
<div class="row">
<div class ="col-md-3">
<br />
{% if perms.comm %}
<ul>
<li><a href='/send_message'><button type="button" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-star"></span>给班级发公告</button></a></li>
<br />
<li><a href="/publish_article/{{classtId}}"><button type="button" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-star"></span>发表讨论话题</button></a></li>  
<br />
<li><a href="/classt/{{classt.id}}/create_event"><button type="button" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-star"></span>创建班级活动</button></a></li>
</ul>
{% endif %}
</div>
<div class ="col-md-6" >
<form role="form"  action='' method='POST'>
<input type='hidden' name='csrfmiddlewaretoken' value='QBfZfLnBu4lQoPglsq2NygDvAi0jK3E0' />
<div class="form-group">
<h3><label for="id_old_password"><span class="label label-success">旧密码:</span></label></h3>
<input class="form-control col-lg-4" id="id_old_password" name="old_password" type="password" placeholder="OldPassword"  />
</div>


<div class="form-group">
<h3><label for="id_new_password1"><span class="label label-success">新密码:</span></label></h3>
<input class="form-control col-lg-4" id="id_new_password1" name="new_password1" type="password" placeholder="NewPasswor" />
</div>

<div class="form-group">
<h3><label for="id_new_password2"><span class="label label-success">确认使用相同的密码:</span></label></h3>
<input class="form-control col-lg-4" id="id_new_password2" name="new_password2" type="password" placeholder="Confirm Passwor" />
</div>

<button type="submit" class="btn btn-success">确认修改</button>
</form>

<div class="col-md-3">
</div>
</div>	
</div>
</div>
</body>


