<html>
<head>
<title>首页</title>
<style type="text/css">
div#container{width:1000px}
div#menu {height:1000px;width:200px;float:left;}
div#content {height:1000px;width:1000px;float:center;}
div#rmenu {height:1000px;width:200px;float:right;}
div#footer {clear:both;text-align:center;}
h1.title{color:blue;background-color:yellow}
h1 {margin-bottom:0;}
h2 {margin-bottom:0;font-size:18px;}
ul {margin:0;}
li {list-style:none;}
a {color:red}
</style>
</head>

<body>

<div id="container">

<div id="header">
<h1 class="title" align="center">一起学Python</h1>
<hr />
</div>

<div id="menu">
<h2>Menu</h2>
<ul>
<li>HTML</li>
<li>CSS</li>
<li>JavaScript</li>
</ul>
</div>

<div id="rmenu">
<h2>Rmenu</h2>
<ul>
欢迎您: 
{% if user.is_authenticated %}
	{{user.username}}<a href="/logout">注销</a>
{% else %}
	游客
	<a href="/login">登录</a>
	<a href="/register">注册</a>
{% endif %}

</ul>
</div>

<div id="content">
<h3 align="center">
<a href="/home"  style="text-decoration:none">主页</a>
<a href="/classt"  style="text-decoration:none">班级</a>
<a href="/message"  style="text-decoration:none">消息</a>
<a href="/manage"  style="text-decoration:none">管理</a>
</h3>


</div>

<div id="footer">Copyright W3School.com.cn</div>

</div>

</body>
</html>

