
<h5>{{classt.name}}:</h5>
<h3>班级成员</h3>
{% for u in user %}
<li>{{u}}</li>
{% endfor %}


<div>
<h3>班级讨论</h3>
<h4><a href="/publish_article/{{classtId}}">发表讨论话题</a></h4>
{% for a in allarticle %}
<h4><li><a href="/classt/{{classtId}}/article/{{a.id}}">{{a.title}}</a></li></h4>

{% endfor %}
</div>

<h3>班级公告</h3>|<a href='/classt/{{classt.id}}/message'>更多</a>

{% for m in messages %}
<li>公告标题:{{m.title}}</li>
<p>公告内容:{{m.content}}</p>
{% endfor %}

<h3>班级活动</h3>  <a href='/classt/{{classt.id}}/event'>进入</a>
